body {
    background: #fff;
    font-family:Arial, Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0;
    color: #424242;
}

main {


    margin: 0 auto;
    width: 800px;
}

.masthead{
    background-image:url('<img src="images/macintshy.avif"');
    background-size: cover;
    background-position: bottom;
    height: 250px;
    border-radius: 20px;



}
.details {

    display: flex;
    gap: 25px;

}
.details section {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    border-radius: 20px;
    margin-top: 25px;
    
}
.details.section p {
    margin: 20px;

}
.details section h2 {
    margin: 20px;
}
.details section.with-code {
    padding: 0;
}


div.code-html{
    padding: 25px;
    background: #424242;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
img {

    width: 100%;
    height: 200px;
    border-radius: 20px;

}
h1{

    background-image: url('images/170897C5-A175-4280-BD4F-A73079D571A1_4_5005_c.jpeg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center left;
    font-size: 3em;
    padding-left: 50px;
    margin: 100px 0 25px 0;
}
h2 {
    margin: 0 0 10px 0;
}


p{
    margin: 0;
    line-height: 1.2em;
}


